@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');


*{
  font-family: "Madimi One", sans-serif;
}

.todo{
  text-align: center;
}

.toggle{
  text-align: center;
}

.box{
  margin: 50px;
  width: 500px;
  padding:10px;
  border: 2px solid green;
}

.completed {
  margin:10px;
  border: 2px solid green;
}

.incompleted {
  margin:10px;
  border: 2px solid red;
}

.hidden{
  display: none;
}

.title{
  font-size: 20px;
  color:white;
  font-family: "Angkor", serif;
  /* font-family: "Creepster", system-ui; */
}
